/* Globals */

* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    background-color: #252526;
    color: whitesmoke;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    margin: 0 auto;
    width: 100%;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header img {
    margin: 25px 0 auto;
    width: 200px;
}

header h1 {
    color: white;
}

header a {
    color: whitesmoke
}

span a {
    font-size: 24px;
    text-decoration: none;
}

.navigation a {
    margin: 0 10px;
}

div.navigation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 20px;
}




/* Content */
.main-wrapper {
    margin: 0 auto;
    background-color: #272727;
    padding: 15px;
    border-radius: 20px;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #2d2d30;
    padding: 15px;
    border-radius: 20px;
}

main p {
    font-size: 18px;
    line-height: 1.5;
    margin: 0.9rem 0;
}

div.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0 0;
}

.main-wrapper a:link {
    color: #aa8bff;
    text-decoration: none;
    cursor: pointer;
}

.main-wrapper a:visited {
    color: #c1acf7;
}

a:hover,
.main-wrapper a:hover {
    /* color: #c2c2c2; */
    color: #855cf3;
    text-decoration: underline;
}

a:active,
.main-wrapper a:active {
    color: #845cf362;
}

.icons a img {
    width: 40px;
    margin: 0 35px;
}

.icon-item {
    margin: 10px;
    text-align: center;
}

/* Footer */
footer p {
    text-align: center;
    font-size: 14px;
    margin: 20px 0 10px;
}

.special-icons img {
    height: 36px;
}

.special-icons p {
    margin: 24px 0 0 0;
}

#github p {
    margin: 20px 0 18px 0;
}

@media only screen and (max-width: 500px) {
    main p {
        margin: 0.8rem 0;
    }
}

@media only screen and (min-width: 800px) and (max-width: 815px) {
    .main-wrapper {
           
            max-width: 100%;
        }
    .container {
        max-width: 100%;
    }
}

@media only screen and (min-width: 800px) {
    .container {
        max-width: 800px;
    }

    .main-wrapper {
        width: 50rem;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1280px
    }
}

@media only screen and (min-width: 1536px) {
    .container {
        max-width: 1536px
    }
}