/* Globals */
* {
    box-sizing: border-box;
}

body {
    background-color: #252526;
    color: whitesmoke;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    margin: 0 auto;
    width: 100%;
    padding: 0 1%;
}
/* Header */
header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

header img {
    margin: 25px 0 auto;
    width: 175px;
}

header h1 {
    color: white;
}

header a {
    color: whitesmoke
}

header a:hover {
    color: #855cf3;
    text-decoration: underline;
}

span a {
    font-size: 1.5rem;
    text-decoration: none;
}

.navigation a {
    margin: 0 10px;
}

div.navigation {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 20px;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.subscribe {
    margin: 2% 0;
}

.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio (9 / 16 * 100) */
    margin: 2% 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Media Queries */
@media only screen and (max-width: 500px) {
    .container {
        padding: 0 3.5%;
    }

    main p {
        margin: 0.8rem 0;
    }

    .subscribe {
        margin: 5% 0;
    }
    .video-container {
    margin-bottom: 4%;
    }
}

@media only screen and (min-width: 800px) {
    .container {
        max-width: 800px;
        width: 50rem;
    }
}

@media only screen and (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1280px
    }
}

@media only screen and (min-width: 1536px) {
    .container {
        max-width: 1536px
    }
}

@media only screen and (min-width: 2400px) {
    html {
        font-size: 125%;
    }

    .container {
        max-width: 2400px
    }
}